.am-tab-bar-bar{
  display: none
}
.am-search {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.am-tabs-tab-bar-wrap{
  width: 100%;
  position: fixed;
  bottom: 0px;
}
.tag-container{
  display: flex;
  padding-top: 9px;
  flex-direction: row;
  flex-wrap: wrap;
}
.tag-container > div {
  margin-left: 9px;
  margin-bottom: 9px;
}
.am-card-header-content>img{
  width: 150px;
  height: 100px;
}
